/* App.css */
body {
  font-family: 'Arial, sans-serif';
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #50b3a2;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px;
}

.container {
  width: 50%;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label,
.form-group input {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  background: #50b3a2;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
